:root {
  /* text */
  --text-black-high: rgba(0, 0, 0, 0.87);
  --text-black-med: rgba(0, 0, 0, 0.6);
  --text-black-low: rgba(0, 0, 0, 0.38);
  --text-white-high: rgba(255, 255, 255, 0.87);
  --text-white-med: rgba(255, 255, 255, 0.6);
  --text-white-low: rgba(255, 255, 255, 0.38);
  /* misc */
  --active: 87%;
  --inactive: 60%;
  --disabled: 38%;
}

:root[theme="dark"] {
  /* backgrounds */
  --background-primary: rgb(18, 18, 18);
  --accessibility-bar: rgb(39, 34, 16);
  --header-bg: rgb(39, 30, 16);
  --main-card-bg: rgb(46, 46, 46);
  --review-bg:  rgb(54, 54, 54);
  --footer-bg: rgba(39, 30, 16, 0.87);
  /* background references */
  --elevation-00dp: rgb(18, 18, 18); /* text btn, top app bar (rest), */
  --elevation-01dp: rgb(30, 30, 30); /* searchbar (rest), card (rest), switch */
  --elevation-02dp: rgb(33, 33, 33); /* btn (resting) */
  --elevation-03dp: rgb(37, 37, 37); /* refresh indicator search bar */
  --elevation-04dp: rgb(39, 39, 39); /* top app bar (scrolled/resting) */
  --elevation-06dp: rgb(44, 44, 44); /* floating action btn snackbar */
  --elevation-08dp: rgb(46, 46, 46); /* bottom/side sheet, btm nav/app bar, menu/submenu, card (picked up), btn (pressed) */
  --elevation-12dp: rgb(51, 51, 51); /* floating action btn (pressed) */
  --elevation-16dp: rgb(54, 54, 54); /* modal bottom/side, nav drawer */
  --elevation-24dp: rgb(56, 56, 56); /* dialogue */
  /* brand colors */
  --color-primary: rgb(248, 222, 126); /* 200 tonal range */
  --color-primary-var: rgb(243, 189, 0); /* 500 tonal range */
  --color-secondary: rgb(239, 254, 234); /* 50-200 tonal range */
  --color-secondary-var: rgb(186, 251, 166); /* 50-200 tonal range */
  /* text */
  --main-text: rgba(255, 255, 255, 0.87);
  --header-links: rgba(255, 255, 255, 0.87);
  --primary-hover-text: rgb(248, 222, 126, 0.87);
  --secondary-hover-text: rgb(186, 251, 166);
  /* borders */
  --primary-border: rgb(240, 240, 240);
  --header-border: rgb(39, 39, 39);
  --focus: 2px dotted rgb(224, 224, 224);
  /* misc */
  --error: rgb(207, 102, 121);
  --warning: rgb(255, 245, 157);
  --success: rgb(165, 214, 167);
  --info: rgb(144, 202, 249);
  --theme-icon-color: rgba(255, 255, 255, 0.38);
}

:root[theme="light"] {
  /* backgrounds */
  --background-primary: rgb(240, 240, 240);
  --accessibility-bar: rgb(244, 156, 0);
  --header-bg: rgb(243, 189, 0);
  --main-card-bg: rgb(220, 220, 220);
  --review-bg:  rgb(200, 200, 200);
  --footer-bg: rgb(243, 189, 0, 0.87);
  /* brand colors */
  --color-primary: rgb(243, 189, 0); /* 500 tonal range */
  --color-primary-var: rgb(244, 156, 0); /* +/- 200 of primary */
  --color-secondary: rgb(100, 239, 66); /* 500 tonal range */
  --color-secondary-var: rgb(51, 199, 46); /* +/- 200 of primary */
  /* text */
  --main-text: rgba(0, 0, 0, 0.87);
  --header-links: rgba(0, 0, 0, 0.87);
  --primary-hover-text: rgb(90, 57, 1);
  --secondary-hover-text: rgb(16, 33, 8);
  /* borders */
  --primary-border: rgb(18, 18, 18);
  --header-border: transparent;
  --focus: 2px dotted rgb(18, 18, 18);
  /* misc */
  --error: rgb(176, 0, 32);
  --warning: rgb(255, 235, 59);
  --success: rgb(76, 175, 80);
  --info: rgb(33, 150, 243);
  --theme-icon-color: rgba(255, 255, 255, 0.87);
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: var(--focus);
}

body {
  height: 100vh;
  background: url("images/restaurant-background-75opacity.png") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-primary);
}

header {
  font-family: "Teko", Verdana, sans-serif;
  border-bottom: 5px solid var(--header-border);
}

#accessibility-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: var(--accessibility-bar);
  font-size: 1.25rem;
  letter-spacing: 2px;
  transition: box-shadow 0.5s linear;
}

#accessibility-container:focus-within,
#accessibility-container:hover {
  outline: none;
}

#accessibility-tab {
  margin-left: 25px;
  padding: 0px 10px;
  color: var(--main-text);
  font-size: 1.25rem;
  letter-spacing: 2px;
}

#accessibility-tab:hover {
  cursor: default;
}

#accessibility-tab .material-icons {
  vertical-align: middle;
}

.accessibility-contents {
  display: flex;
  align-items: center;
  margin-left: -280px;
  padding: 7px 10px 10px;
  transition: margin-left 0.5s ease-in-out;
}

#accessibility-container:focus-within .accessibility-contents,
#accessibility-container:hover .accessibility-contents {
  margin-left: 0;
}

#accessibility-container:focus-within #accessibility-tab,
#accessibility-container:hover #accessibility-tab {
  color: var(--secondary-hover-text);
}

.skip-link {
  margin-right: 25px;
  padding: 2px;
  color: var(--header-links);
  text-decoration: none;
}

.skip-link:hover,
.skip-link:focus {
  color: var(--secondary-hover-text);
  border-bottom: 1px solid var(--header-links);
}

.theme-toggle-container {
  width: 42px;
  height: 22px;
}

.theme-toggle-container:hover {
  cursor: pointer;
}

.theme-toggle-container:hover .theme-toggle-track,
.theme-toggle-container:focus .theme-toggle-track {
  border: 2px solid var(--secondary-hover-text);
}

.theme-toggle-track {
  width: 42px;
  height: 22px;
  border-radius: 50px;
  background-color: var(--background-primary);
  border: 2px solid var(--primary-border);
  opacity: 0.8;
}

.theme-toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  top: -24px;
  border-radius: 50%;
  background-color: rgb(18, 18, 18);
  border: 1px solid white;
  transition: left 0.2s;
}

.theme-toggle-switch .material-icons {
  color: var(--theme-icon-color);
}

.material-icons.md-18 {
  font-size: 18px;
}

.upper-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 125px;
  padding: 50px 10px 5px;
  background-color: var(--header-bg);
}

.upper-nav a,
footer a {
  color: var(--main-text);
  text-decoration: none;
}

.logo a {
  padding: 0 5px;
  font-size: 3rem;
  letter-spacing: 1px;
}

.logo a:hover {
  color: var(--primary-hover-text);
}

.logo:hover span,
.logo a:focus > span {
  color: var(--secondary-hover-text);
}

.nav-links {
  margin-left: 100px;
}

.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 50px;
  list-style: none;
}

.nav-links li:last-of-type {
  margin-right: 0;
}

.link {
  padding: 0 5px;
  font-size: 1.75rem;
  text-decoration: none;
  opacity: 0.6;
}

.nav-links .link:hover,
.nav-links .link:focus {
  opacity: 1;
  border-bottom: 1px solid var(--header-links);
}

#main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: white;
  font-family: "Roboto";
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 60vw;
  margin: 25px;
}

.main-container h1 {
  margin: 0 0 20px;
}

.main-container p {
  text-align: justify;
  line-height: 1.5;
}

.tab-container {
  padding: 30px;
  background-color: var(--main-card-bg);
  color: var(--main-text);
  opacity: 0.95;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  letter-spacing: 1px;
}

.notice-container,
.review-container {
  width: 40%;
  min-width: 300px;
  font-size: 1rem;
}

.review-container p {
  padding: 15px;
  background-color: var(--review-bg);
  border-bottom-right-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  font-size: 1.1rem;
}

.review-container p:nth-of-type(2) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 25px;
}

.event-container {
  width: 100%;
  margin: 100px 0 50px;
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background: var(--footer-bg);
  color: var(--main-text);
}

footer a {
  margin-top: 10px;
  padding: 2px;
}

footer a:hover, 
footer a:focus {
  border-bottom: 1px solid var(--header-links);
}

.left-footer,
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.right-footer img {
  width: 48px;
  opacity: 0.6;
}

.right-footer a {
  align-self: center;
  width: 48px;
}

.right-footer img:hover,
.right-footer a:focus img {
  opacity: 1;
}

.right-footer div~a:hover {
  border: none;
}

@media only screen and (max-width: 1025px) {
  .main-container {
    flex-direction: column;
  }

  .tab-container {
    width: 100%;
  }

  .notice-container {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .upper-nav {
    height: 150px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 525px) {
  .main-container {
    width: 80vw;
  }

  .notice-container,
  .review-container {
  min-width: 0px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .left-footer {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 350px) {
  #accessibility-container:focus-within #accessibility-tab,
  #accessibility-container:hover #accessibility-tab {
    display: none;
  }

  .upper-nav {
    height: 125px;
  }

  .logo a {
    font-size: 2rem;
  }
  
  .nav-links {
    margin-left: 0;
  }

  .link {
    font-size: 1.25rem;
  }
}

